@CHARSET "UTF-8";

html,body {
	color: #000;
	background: #FFF;
	font-size: 12px;
	font-family: Verdana, 'Microsoft YaHei';
}

* {
	margin: 0;
	padding: 0;
}

.slui-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 40);
	opacity: 0.40;
	zIndex: 8000;
	overflow: hidden;
	background: #CCCCCC;
	overflow: hidden;
}