.combobox {
	display: inline-block; white-space: nowrap; margin: 0; padding: 0 5px; border: 1px solid #DEDEDE;
	background-color: #fff; overflow: hidden; vertical-align: middle; outline: none;
}

.combobox-panel {
	background-color: #ffffff; overflow: auto; border: 1px solid #DEDEDE; border-top: none;
}

.combobox-disable,.combobox-readonly {
	
}

.combobox-arrow {
	overflow: hidden; display: inline-block; vertical-align: top; cursor: pointer; background-color: #FBFAFA;
	border: 1px solid #DEDEDE; background: url('icons/down_block.png') no-repeat center center;
	border-left:none;
}

.combobox-arrow-disable,.combobox-arrow-readonly {
	
}

.combobox-arrow:hover {
	background-color: transparent;
}

.combobox
-panel {
	overflow: auto; border: 1px solid #95B8E7; border-top: none;
}

.combobox-item,.combobox-group {
	text-align: left; font-size: 12px; padding: 3px; padding-right: 0px; font-size: 12px;
}

.combobox-item-disabled {
	opacity: 0.5; filter: alpha(opacity = 50);
}

.combobox-gitem {
	padding-left: 10px;
}

.combobox-group {
	font-weight: bold;
}

.combobox-item-hover {
	background-color: #eaf2ff; color: #000000;
}

.combobox-item-selected {
	background-color: #ffe48d; color: #000000;
}