.combo {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border:1px solid #95B8E7;
  background-color: #fff;
  overflow: hidden;
  vertical-align: middle;
  outline: none;
}
.combo-disable,.combo-readonly{

}
.combo-arrow {
  width: 18px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: #E0ECFF;
  border-top:1px solid #95B8E7;
  border-bottom:1px solid #95B8E7;
  border-right:1px solid #95B8E7;
  background: url('images/combo_arrow.png') no-repeat center center;
}
.combo-arrow-disable,.combo-arrow-readonly{

}
.combo-arrow:hover{
  background-color: transparent;
}
.combo-panel {
  overflow: auto;
  border: 1px solid #95B8E7;  
  border-top:none;
}
