@CHARSET "UTF-8";

.datetimebox {
	display: inline-block;
	white-space: nowrap;
	margin: 0;
	padding: 0 5px;
	border: 1px solid #DEDEDE;
	background-color: #fff;
	overflow: hidden;
	vertical-align: middle;
	outline: none;
}

.datetimebox-disable,.datetimebox-readonly {
	
}

.datetimebox-panel {
	background-color: #ffffff;
	overflow: auto;
	border: 1px solid #DEDEDE;
	font-weight: bold;
	-moz-user-select: none;
}

.datetimebox-arrow {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background-color: #FBFAFA;
	border: 1px solid #DEDEDE;
	background: url('icons/cal.png') no-repeat center center;
	border-left: none;
}

.datetimebox-arrow-disable,.datetimebox-arrow-readonly {
	
}

.datetimebox-arrow:hover {
	background-color: transparent;
}

.datetimebox-header {
	hieght: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

.datetimebox-prevyear,.datetimebox-prevmonth,.datetimebox-nextmonth,.datetimebox-nextyear {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.datetimebox-prevmonth {
	background: url('icons/prev_a.png') no-repeat center center;
}

.datetimebox-nextmonth {
	background: url('icons/next_a.png') no-repeat center center;
}

.datetimebox-prevyear {
	background: url('icons/prev_u.png') no-repeat center center;
}

.datetimebox-nextyear {
	background: url('icons/next_u.png') no-repeat center center;
}

.datetimebox-title {
	padding: 0 35px;
}

.datetimebox-body {
	
}

.datetimebox-calendar {
	margin: 0 auto;
}

.datetimebox-calendar thead tr th {
	width: 30px;
	height: 40px;
}

.datetimebox-calendar tbody tr td {
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.datetimebox-today,.datetimebox-th-saturday,.datetimebox-th-sunday {
	color: #FEA989;
}

.datetimebox-day:hover {
	color: #FFFFFF;
	background-color: #0FB1BB;
}

.datetimebox-selected {
	color: #FFFFFF;
	background-color: #0FB1BB;
}

.datetimebox-other-month {
	color: #BCBCBC;
}

.datetimebox-timespinner {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
	background-color: #F7F7F7;
	text-align: left;
}

.datetimebox-timespinner-hour,.datetimebox-timespinner-minute,.datetimebox-timespinner-seconds {
	height: 20px;
	width: 30px;
	border: 1px solid #DEDEDE;
	outline: none;
	text-align: center;
}

.datetimebox-timespinner-separator {
	width: 10px;
	display: inline-block;
}

.datetimebox-timespinner-label {
	padding: 0 15px;
	color: #8C8C8C;
}

.datetimebox-timespinner span {
	display: inline-block;
	width: 18px;
	height: 20px;
	vertical-align: top;
	border: 1px solid #DEDEDE;
	border-left: none;
	margin-right: 10px;
}

.datetimebox-timespinner-hour-up,.datetimebox-timespinner-minute-up,.datetimebox-timespinner-seconds-up {
	background: url('icons/upup.png') no-repeat center center;
	width: 16px;
	height: 10px;
	display: block;
	outline: none;
}

.datetimebox-timespinner-hour-down,.datetimebox-timespinner-minute-down,.datetimebox-timespinner-seconds-down {
	background: url('icons/downdown.png') no-repeat center center;
	width: 16px;
	height: 10px;
	display: block;
	outline: none;
}

.datetimebox-button {
	background-color: #F7F7F7;
	margin: 0 auto;
	padding: 0 0 10px 0;
}

.datetimebox-button-notimespinner {
	padding-top: 10px;
}

.datetimebox-button table {
	width: 100%;
}

.datetimebox-button table tbody tr td {
	width: 25%;
	text-align: center;
}

.datetimebox-button table tbody tr td a {
	text-decoration: none;
	color: #8C8C8C;
}

.datetimebox-button table tbody tr td a:hover {
	color: #7CCBD2;
}