.messager {
	overflow: hidden;
	border: none;
	position: absolute;
	z-index: 9000;
}

.messager-header {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border: 1px solid #000000;
	background-color: #000000;
	position: relative;
	background-color: #000000;
}

.messager-title {
	padding:0 10px;
	font-size: 12px;
	font-weight: bold;
	color: #FEFEFE;
	height: 30px;
	line-height: 30px;
}

.messager-close {
	position: absolute;
	right: 5px;
	top: 7px;
	display: inline-block;
	background: url('icons/close.png') no-repeat center center;
	height: 16px;
	width: 16px;
}

.messager-close:hover {
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.messager-body {
	margin: 0 auto;
	background-color: #FEFEFE;
	overflow: hidden;
	padding: 0;
	border: 1px solid #FEFEFE;
	border-top:none;
}

.messager-icon {
	width: 100px;
	float:left;
	height: 100%;
}

.messager-content {
	width: 350px;
	height: 100%;
	float: left;
}

.messager-info {
	height: 70px;
	padding:10px;
	overflow:hidden;
}

.messager-tool {
	height: 58px;
	vertical-align: middle;
	text-align: center;
}

.messager-button {
	text-decoration: none;
	text-align: center;
	padding:8px 0;
	background-color: #F7F7F7;
	border: 1px solid #DEDEDE;
	margin: 5px 15px;
	text-align: center;
	color: #404040;
	width: 80px;
	display: inline-block;
}

.messager-button:hover {
	background-color: #E4E4E4;
}

.messager-icon-error {
	background: url('icons/error.png') no-repeat center center;
}

.messager-icon-info {
	background: url('images/messager_icons.png') no-repeat center center;
}

.messager-icon-question {
	background: url('images/messager_icons.png') no-repeat center center;
}

.messager-icon-warning {
	background: url('images/messager_icons.png') no-repeat center center;
}