input.validate-invalid {
	border: 1px solid #ffa8a8;
	background-color: #fff3f3;
	color: #000;
}

.textbox {
	position: relative;
	border: 1px solid #DEDEDE;
	background-color: #fff;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.textbox-prompt {
	font-size: 12px;
	color: #aaa;
}

.textbox-focused {
	-moz-box-shadow: 0 0 3px 0 #DEDEDE;
	-webkit-box-shadow: 0 0 3px 0 #DEDEDE;
	box-shadow: 0 0 3px 0 #DEDEDE;
}

.textbox-button,.textbox-button:hover {
	position: absolute;
	top: 0;
	padding: 0;
	vertical-align: top;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}