* {
	margin: 0; 
	padding: 0;
}

.window {
	overflow: hidden; 
	border: none; 
	position: absolute;
}

.window-header {
	height: 30px; 
	line-height: 30px; 
	vertical-align: middle; 
	position : relative; 
	border: 1px solid #000000;
	background-color: #000000; 
	position: relative;
	background-color : #000000; 
	padding: 0 15px;
}

.window-title {
	font-size: 12px; 
	font-weight: bold; 
	color: #FEFEFE; 
	height: 30px; 
	line-height: 30px;
}
.window-icon,.window-tool {
	position: absolute; 
	top: 50%; 
	margin-top: -8px; 
	height: 16px; 
	overflow: hidden;
}
.window-icon {
	left: 5px; 
	width: 16px;
}
.window-tool {
	right: 10px; 
	width: auto;
}
.window-with-icon {
	padding-left: 18px;
}
.window-tool a {
	display: inline-block; 
	width: 16px; 
	height: 16px; 
	margin: 0 0 0 10px; 
	vertical-align: top;
}
.window-tool a:hover {
	opacity: 0.9; 
	filter: alpha(opacity = 90);
}
.window-body {
	background-color: #FEFEFE; 
	overflow: auto; 
	padding: 0; 
	border-left: 1px solid #FEFEFE; 
	border-right: 1px solid #FEFEFE;
}
.window-mask {
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	filter: alpha(opacity = 40); 
	opacity: 0.40;
	overflow: hidden; 
	background: #CCCCCC;
}
.window-footer {
	border: 1px solid #FEFEFE; 
	overflow: hidden; 
	background: #FEFEFE;
}
.window-loading {
	padding: 11px 0px 10px 30px; 
	background: url('icons/loading.gif') no-repeat center center;
}
.window-tool-close {
	background: url('icons/close.png') no-repeat center center;
}
.window-tool-max {
	background: url('icons/max.png') no-repeat center center;
}
.window-tool-restore {
	background: url('icons/restore.png') no-repeat center center;
}
.window-tool-collapse {
	background: url('icons/up.png') no-repeat center center;
}
.window-tool-expand {
	background: url('icons/down.png') no-repeat center center;
}